{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
<h1>Dashboard</h1>
<form method="POST">
    <div>
        <textarea name="text", cols="20", rows="10"></textarea>
    </div>
    <div>
        <label for="language">Language:</label>
            <select name="language" >
                <option value="en">English</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="ru">Russian</option>
                <option value="de">German</option>
            </select>
    </div>
    <div>
        <button type="submit">Button</button>
    </div>
</form>
{% endblock %}